<template>
  <v-container :class="{'px-4':$vuetify.breakpoint.smAndDown}">
    <h1 class="text-center">
      Использование файлов cookie и политика конфиденциальности
    </h1>
    <img
      src="cookie.png"
      class="mr-4 mt-3 hidden-sm-and-down"
      style="float:left"
    >

    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Мы используем файлы cookie, чтобы анализировать трафик, подбирать для вас подходящий контент и рекламу, а также дать вам возможность делиться информацией в социальных сетях. Мы передаем информацию о ваших действиях на сайте в обезличенном виде нашим партнерам: социальным сетям и компаниям, занимающимся рекламой и веб-аналитикой. Наши партнеры могут комбинировать эти сведения с предоставленной вами информацией, а также данными, которые они получили при использовании вами их сервисов. Продолжая пользоваться данным сайтом, вы подтверждаете свое согласие на использование файлов cookie в соответствии с настоящим уведомлением.
    </p>

    <h2>Файлы cookie</h2>
    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Файл cookie – это небольшой фрагмент текста, передаваемый в браузер с сайта, который Вы посетили. Он помогает сайту запомнить информацию о Вас, например то, на каком языке Вы предпочитаете его просматривать. Это будет полезно при следующем посещении этого же сайта. Благодаря файлам cookie просмотр сайтов становится значительно более удобным.
    </p>

    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Файлы cookie используются для многих целей. Например, они позволяют сохранять настройки безопасного поиска, показывать полезные рекламные объявления, подсчитывать количество посещений страницы, регистрироваться в наших службах и защищать данные пользователей.
    </p>

    <h2>На нашем сайте используются различные типы файлов cookie:</h2>

    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Строго необходимые файлы cookie. Эти файлы cookie нужны, чтобы сайт работал правильно, они делают возможной навигацию по ресурсу. Файлы этого типа не идентифицируют вас как личность. Если не использовать этот тип файлов, это может оказать влияние на работоспособность веб-сайта, или его компонентов.
    </p>
    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Файлы cookie, относящиеся к производительности, эффективности и аналитике. Эти файлы помогают понять, как посетители взаимодействуют с сайтом, предоставляя информацию о тех областях, которые они посетили и количестве времени, которое они провели на сайте, также они показывают проблемы в работе интернет-ресурса, например, сообщения об ошибках. Это помогает улучшать работу сайта. Файлы cookie, относящиеся к аналитике, также помогают измерять эффективность рекламных кампаний и оптимизировать содержание сайтов для тех, кого заинтересовала наша реклама. Данный тип файлов cookies не может быть использован для вашей идентификации. Вся информация, которая собирается и анализируется, анонимна.
    </p>
    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Функциональные файлы cookie. Эти файлы cookie служат для того, чтобы опознавать пользователей, возвращающихся на наш сайт. Если Вы блокируете этот тип файлов, то это может повлиять на производительность и функциональность веб-сайта и может ограничить доступ к его контенту.
    </p>
    <h2>Как долго файлы cookie хранятся на устройстве?</h2>
    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Некоторые файлы cookie действуют с момента Вашего входа на сайт до конца данной конкретной сессии работы в браузере. При закрытии браузера эти файлы становятся ненужными и автоматически удаляются. Такие файлы cookie называются «сеансовыми».
    </p>

    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Некоторые файлы cookie сохраняются на устройстве и в промежутке между сессиями работы в браузере — они не удаляются после закрытия браузера. Такие файлы cookie называются «постоянными». Срок хранения постоянных файлов cookie на устройстве различается для разных файлов cookie. Вы можете самостоятельно очистить файлы cookie, воспользовавшись инструкцией для Вашего браузера.
    </p>

    <h2>Кто размещает файлы cookie на моем устройстве?</h2>
    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Файлы cookie могут размещаться на Вашем устройстве администрацией сайта. Эти файлы cookie называются «собственными» и используются для корректного взаимодействия сайта с Вашим браузером. Некоторые файлы cookie могут размещаться на Вашем устройстве другими операторами (например "Яндекс" или "Google"). Такие файлы cookie называются файлами «третьих лиц».
    </p>
    <img
      src="cookie.png"
      class="mr-4 mt-3 hidden-sm-and-down img-policy-rotate"
      style="float:right"
    >
    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Мы и третьи лица можем использовать файлы cookie, чтобы узнать, когда Вы посещаете наш сайт, как с ним взаимодействуете. На основе файлов cookie может собираться и использоваться обобщенная и другая информация, не связанная с идентификацией отдельных пользователей (например, об операционной системе, версии браузера и URL-адресе, с которого выполнен переход на данную страницу, в том числе из электронного письма или рекламного объявления) — благодаря этому мы можем предоставить Вам более широкие возможности и проанализировать маршруты посещения сайта.
    </p>

    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Такая технология позволяет подсчитать количество пользователей, которые посетили конкретный сервис, перейдя по ссылке с определенного баннера за пределами данного сайта, по текстовой ссылке или изображениям, включенным в рассылку. Кроме того, она служит инструментом для сбора обобщенной статистики об использовании сайта в целях аналитического исследования и помогает нам оптимизировать наш сайт.
    </p>

    <h2>Как управлять файлами cookie?</h2>
    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Большинство интернет-браузеров изначально настроены автоматически принимать cookie. Вы можете изменить настройки таким образом, чтобы блокировать cookie или предупреждать пользователя, когда файлы данного типа будут отправлены в Ваш браузер. Есть несколько способов управления cookie. Обратитесь к инструкции Вашего браузера для того, чтобы узнать больше о том, как скорректировать или изменить его настройки. Внимание! Если отключить cookie, то Ваш браузер может некорректно работать с некоторыми сайтами в Интернете.
    </p>

    <h2>Файлы cookie и персональные данные</h2>
    <p class="about-text grey--text text--darken-4 font-weight-light mt-2">
      Файлы cookie не содержат Ваших персональных данных, благодаря которым возможна идентификация вашей личности. Файлы cookie не содержат фамилии, имени, отчества, адресов электронной почты, домашнего адреса, номеров телефонов и прочих подобных данных. Мы не собираем, не храним и не передаём третим лицам персональные данные, пользуясь которыми можно идентифицировать личность.
    </p>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    //
  }),
  mounted () {
    this.$vuetify.goTo(0)
  }
}
</script>

<style scoped>
  .about-text {
    font-size: 18px;
    text-align: justify;
  }
  .img-policy-rotate {transform: rotate(40deg);}
</style>
